@import "tailwindcss";
@media (pointer: fine) {
  * {
    cursor: none;
  }
}

@keyframes scrollLine {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(140%);
    opacity: 0;
  }
}

.animate-scrollLine {
  animation: scrollLine 2.2s ease-in-out infinite;
}


html {
  scroll-behavior: smooth;
}

html,
body {
  background: black;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
